/*----- globalScss ----- */

// ==globalVars==
$minWidth: 320; // min site width
$maxWidth: 1920; // max site width
$maxWidthContainer: 856px; // max container width + 15px padding example: 1250px + 15px paddings = 1280px;
$md1: $maxWidthContainer;
$md2: 991.98px;
$md3: 768.98px;
$md4: 479.98px;
// ==globalVars==

// ==nullStyle+Wrapper==
@import "null";

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// ==mainGrid==
._container {
	max-width: $maxWidthContainer;
	padding: 0px 15px;
	margin: 0 auto;

	@media (max-width: $md1) {
		max-width: 970px;
	}

	@media (max-width: $md2) {
		max-width: 750px;
	}

	@media (max-width: $md3) {
		max-width: none;
	}
}

// ==mainBlock==
.main {
	flex: 1 1 auto;
}