/*----- variables ----- */

// ==colorVariables==
$mainColor: #fff;
$secondColor: #000;
$textColor: #000;
$linkColor: #000;
$accent: gray;
// ==colorVariables==

// ==fontVariables==
$fontSize: 16px;
$fontFamily: 'Raleway',
sans-serif;
// ==fontVariables==